.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    left: 200px;
    bottom: 0;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html {
    margin-left: -20px;
}

.container {
    will-change: contents;  
    width: 100%;
    height: 90%;
    min-height: 570px;
    position: absolute;
    opacity: 0;
    top:5% ;
    margin: 0 auto;
    z-index: 1;
    transform-style:preserve-3d ;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}
